{% extends 'main.html'%}

{%load static%}
<style>
    .containerprofilo {
        display: grid;
        column-gap: 30px;
        padding: 20px;
      }
</style>
{%block content%}
{%if user.is_authenticated %}
<div class="containerprofilo">
    {% if profile.profile.image.url is not none %}
    <div>
        <img src="{{profile.profile.image.url}}"alt="Image should be here" width=150>
    </div>
        {% else %}
    <img src="{% static 'images/default.png' %}" width=150> 
    {% endif %}

    <h1>Username: {{profile.profile.user}}</h1>
    <h1>Activity:</h1>

    <div>
    
{% for comment in post_comments %}
<hr>
<div><small>{% if comment.user.profile.image.url is not none %}<img src="{{comment.user.profile.image.url}}"width=25></div>{%else%}<img src="{% static 'images/default.png' %}" width=25>{%endif%}
   Author: {{comment.user}} posted: {{comment.created|timesince}} ago </small>
   <p> {{comment.body}}</p>
    
</div>
    {%endfor%}
    </div>
</div>
</div>
{%else%}
You are not authorized to see this page... Login or Sign-up here <a href="{% url 'login' %}">HERE</a>

{%endif%}
{%endblock%}
