{%load static%}
<nav class="navbar">
  
    <div class="brand-title"><a style="color:white; text-decoration:none ;" href="{% url 'mainpage' %}">
        BloodPost</a>
         {%if user.is_authenticated %}||
         Logged in : || {{request.user}}
         {%else%} || GREETINGS NEWCOMER...{%endif%}
          
    </div>

    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        
        <ul>
            <li><a href="{% url 'profilepages' %}">CHECK OTHER PROFILEPAGES</a></li>
            {% if user.profile.image.url is not none %}
            <li> <img src="{{user.profile.image.url}}"alt="Image should be here"  width=50>
            {%else%}
           <img src="{% static 'images/default.png' %}" width=50> 
            {%endif%}</li>
            <li><a href="{% url 'profilepage' user.id %}">PROFILEPAGE
            </a> </li>
            <li></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif %}
         
        </ul>
    </div>
</nav>
